@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url('/peachide/src/components/coding/file-icons/fonts/fontawesome.woff2');
}

@font-face {
  font-family: Mfizz;
  src: url('/peachide/src/components/coding/file-icons//fonts/mfixx.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Devicons;
  src: url('/peachide/src/components/coding/file-icons//fonts/devopicons.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: file-icons;
  src: url('/peachide/src/components/coding/file-icons//fonts/file-icons.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Octicons Regular;
  src: url('/peachide/src/components/coding/file-icons//fonts/octicons.woff2');
  font-weight: normal;
  font-style: normal;
}
