@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

html, body {
    height: 100% !important;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    :root {
        --background: hsl(175 25% 98%);
        --foreground: hsl(175 25% 10%);
        --card: hsl(175 25% 100%);
        --card-foreground: hsl(175 25% 10%);
        --popover: hsl(175 25% 100%);
        --popover-foreground: hsl(175 25% 10%);
        --primary: hsl(175 25% 62%);
        --primary-foreground: hsl(175 25% 98%);
        --secondary: hsl(195 25% 80%);
        --secondary-foreground: hsl(205 25% 10%);
        --muted: hsl(175 13% 90%);
        --muted-foreground: hsl(175 25% 40%);
        --accent: hsl(195 25% 60%);
        --accent-foreground: hsl(235 25% 98%);
        --destructive: hsl(27 100% 48%);
        --destructive-foreground: hsl(0 100% 98%);
        --border: hsl(175 25% 85%);
        --input: hsl(175 25% 85%);
        --ring: hsl(175 25% 62%);
        --sidebar-background: hsl(0 0% 98%);
        --sidebar-foreground: hsl(195 5.3% 26.1%);
        --sidebar-primary: hsl(175 5.9% 10%);
        --sidebar-primary-foreground: hsl(0 0% 98%);
        --sidebar-accent: hsl(195 4.8% 95.9%);
        --sidebar-accent-foreground: hsl(195 5.9% 10%);
        --sidebar-border: hsl(175 13% 91%);
        --sidebar-ring: hsl(172 91.2% 59.8%);
        --radius: 0.5rem;
    }

    .dark {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(175 25% 98%);
        --card: hsl(178 10% 10%);
        --card-foreground: hsl(175 25% 98%);
        --popover: hsl(175 25% 12%);
        --popover-foreground: hsl(175 25% 98%);
        --primary: hsl(175 25% 60%);
        --primary-foreground: hsl(175 25% 10%);
        --secondary: hsl(195 25% 30%);
        --secondary-foreground: hsl(205 25% 98%);
        --muted: hsl(175 13% 20%);
        --muted-foreground: hsl(175 25% 70%);
        --accent: hsl(195 25% 40%);
        --accent-foreground: hsl(235 25% 98%);
        --destructive: hsl(27 100% 48%);
        --destructive-foreground: hsl(0 100% 98%);
        --border: hsl(175 25% 25%);
        --input: hsl(175 25% 25%);
        --ring: hsl(175 25% 60%);
        --sidebar-background: hsl(195 5.9% 10%);
        --sidebar-foreground: hsl(195 4.8% 95.9%);
        --sidebar-primary: hsl(175 76.3% 48%);
        --sidebar-primary-foreground: hsl(0 0% 100%);
        --sidebar-accent: hsl(195 3.7% 15.9%);
        --sidebar-accent-foreground: hsl(195 4.8% 95.9%);
        --sidebar-border: hsl(195 3.7% 15.9%);
        --sidebar-ring: hsl(172 91.2% 59.8%);
        --radius: 0.5rem;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
